{% include 'overall_header.html' %}
<h1>{{ lang('ACP_FBC_TITLE') }}</h1>
<p>{{ lang('ACP_FBC_TITLE_EXPLAIN') }}</p>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}

<form id="phpbbservices_filterbycountry_acp" name="phpbbservices_filterbycountry_acp" method="post" action="{{ U_ACTION }}">
	<fieldset>
{% if S_SETTINGS %}
		<legend>{{ lang('SETTINGS') }}</legend>
		<dl>
			<dt><label>{{ lang('ACP_FBC_LICENSE_KEY') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_LICENSE_KEY_EXPLAIN') }}</dt>
			<dd><label><input id="phpbbservices_filterbycountry_license_key" name="phpbbservices_filterbycountry_license_key" size="16" maxlength="16" type="text" value="{{ FBC_LICENSE_KEY }}"></label>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_FBC_ALLOW_RESTRICT') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_ALLOW_RESTRICT_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="phpbbservices_filterbycountry_allow" value="1"{% if FBC_ALLOW_RESTRICT == 1 %} checked="checked"{% endif %} /> {{ lang('ACP_FBC_ALLOW') }}</label>
				<label><input type="radio" class="radio" name="phpbbservices_filterbycountry_allow" value="0"{% if FBC_ALLOW_RESTRICT == 0 %} checked="checked"{% endif %} /> {{ lang('ACP_FBC_RESTRICT') }}</label>
		</dl>
		<dl>
			<dt><label for="phpbbservices_filterbycountry_country_codes">{{ lang('ACP_FBC_COUNTRIES') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_COUNTRIES_EXPLAIN') }}</dt>
			<dd>
				<select id="phpbbservices_filterbycountry_country_codes" name="phpbbservices_filterbycountry_country_codes[]" size="10" multiple>
					{% for country in loops.country %}
					<option value="{{ country.CODE }}">{{ lang('ACP_FBC_COUNTRY_' ~ country.CODE) }}</option>
					{% endfor %}
				</select>
				<br><br><button type="button" id="unselect_options" name="unselect_options">{{ lang('ACP_FBC_UNSELECT_ALL') }}</button>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_FBC_ALLOW_OUT_OF_COUNTRY_LOGINS') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_ALLOW_OUT_OF_COUNTRY_LOGINS_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="phpbbservices_filterbycountry_allow_out_of_country_logins" value="1"{% if FBC_ALLOW_OUT_OF_COUNTRY_LOGINS %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="phpbbservices_filterbycountry_allow_out_of_country_logins" value="0"{% if not FBC_ALLOW_OUT_OF_COUNTRY_LOGINS %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_FBC_IGNORE_BOTS') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_IGNORE_BOTS_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="phpbbservices_filterbycountry_ignore_bots" value="1"{% if FBC_IGNORE_BOTS %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="phpbbservices_filterbycountry_ignore_bots" value="0"{% if not FBC_IGNORE_BOTS %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_FBC_LOG_ACCESS_ERRORS') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_LOG_ACCESS_ERRORS_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="phpbbservices_filterbycountry_log_access_errors" value="1"{% if FBC_LOG_ACCESS_ERRORS %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="phpbbservices_filterbycountry_log_access_errors" value="0"{% if not FBC_LOG_ACCESS_ERRORS %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_FBC_KEEP_STATISTICS') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_KEEP_STATISTICS_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="phpbbservices_filterbycountry_keep_statistics" value="1"{% if FBC_KEEP_STATISTICS %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="phpbbservices_filterbycountry_keep_statistics" value="0"{% if not FBC_KEEP_STATISTICS %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
		</dl>
		<dl>
			<dt><label for="phpbbservices_filterbycountry_seconds">{{ lang('ACP_FBC_SECONDS') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_SECONDS_EXPLAIN') }}</dt>
			<dd><input type="number" id="phpbbservices_filterbycountry_seconds" name="phpbbservices_filterbycountry_seconds" value="{{ FBC_SECONDS }}" min="0" />			</dd>
		</dl>
		<dl>
			<dt><label for="phpbbservices_filterbycountry_redirect_uri">{{ lang('ACP_FBC_REDIRECT_URI') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_REDIRECT_URI_EXPLAIN') }}</dt>
			<dd><input type="url" maxlength="255" size="40" id="phpbbservices_filterbycountry_redirect_uri" name="phpbbservices_filterbycountry_redirect_uri" value="{{ FBC_REDIRECT_URI }}" min="0" />
			</dd>
		</dl>
		<dl>
			<dt><label for="phpbbservices_filterbycountry_test_ip">{{ lang('ACP_FBC_TEST_IP') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_TEST_IP_EXPLAIN') }}</dt>
			<dd><input type="text" id="phpbbservices_filterbycountry_test_ip" name="phpbbservices_filterbycountry_test_ip" value="{{ FBC_TEST_IP }}" maxlength="39" size="20"/> <button type="button" name="clear" id="clear">{{ lang('ACP_FBC_CLEAR_FIELD') }}</button>
			</dd>
		</dl>
{% else %}
		<h2>{{ lang('ACP_FBC_CURRENT_RANGE') ~ lang('COLON') }} {{ CURRENT_RANGE }}</h2>
		<br>
	<label for="range">{{ lang('ACP_FBC_CHANGE_REPORT_RANGE') ~ lang('COLON') }}</label>
	<select name="range" id="range" >
		<option value="{{ S_ACP_FBC_NO_LIMIT_VALUE }}">{{ lang('ACP_FBC_NO_LIMIT') }}</option>
		<option value="{{ S_ACP_FBC_LAST_QUARTER_VALUE }}">{{ lang('ACP_FBC_LAST_QUARTER') }}</option>
		<option value="{{ S_ACP_FBC_LAST_MONTH_VALUE }}">{{ lang('ACP_FBC_LAST_MONTH') }}</option>
		<option value="{{ S_ACP_FBC_LAST_TWO_WEEKS_VALUE }}">{{ lang('ACP_FBC_LAST_TWO_WEEKS') }}</option>
		<option value="{{ S_ACP_FBC_LAST_WEEK_VALUE }}">{{ lang('ACP_FBC_LAST_WEEK') }}</option>
		<option value="{{ S_ACP_FBC_LAST_DAY_VALUE }}">{{ lang('ACP_FBC_LAST_DAY') }}</option>
		<option value="{{ S_ACP_FBC_LAST_12_HOURS_VALUE }}">{{ lang('ACP_FBC_LAST_12_HOURS') }}</option>
		<option value="{{ S_ACP_FBC_LAST_6_HOURS_VALUE }}">{{ lang('ACP_FBC_LAST_6_HOURS') }}</option>
		<option value="{{ S_ACP_FBC_LAST_3_HOURS_VALUE }}">{{ lang('ACP_FBC_LAST_3_HOURS') }}</option>
		<option value="{{ S_ACP_FBC_LAST_1_HOURS_VALUE }}">{{ lang('ACP_FBC_LAST_1_HOURS') }}</option>
		<option value="{{ S_ACP_FBC_LAST_30_MINUTES_VALUE }}">{{ lang('ACP_FBC_LAST_30_MINUTES') }}</option>
		<option value="{{ S_ACP_FBC_LAST_15_MINUTES_VALUE }}">{{ lang('ACP_FBC_LAST_15_MINUTES') }}</option>
	</select>
	<p>{{ lang('ACP_FBC_RANGE_EXPLAIN') }}</p>
	<label for="date_start">{{ lang('ACP_FBC_DATES_BEGINNING') ~ lang('COLON') }}</label> <input id="date_start" name="date_start" type="text" placeholder="{{ lang('ACP_FBC_PLACEHOLDER') }}" size="10" maxlength="10" readonly> <label for="date_end">{{ lang('ACP_FBC_DATES_ENDING') ~ lang('COLON') }}</label> <input id="date_end" name="date_end" type="text" placeholder="{{ lang('ACP_FBC_PLACEHOLDER') }}" size="10" maxlength="10" readonly><br>
	<p>{{ lang('ACP_FBC_OVERRIDE') }}</p>
	<hr>

	<table id="stats">
		<thead>
			<tr>
				<th id="country">{{ lang('ACP_FBC_COUNTRY_NAME') }}<br><a href="{{ U_FBC_COUNTRY_A_Z }}"><span class="fa fa-caret-up fa-2x" style="color:white;" title="{{ lang('ACP_FBC_COUNTRY_A_Z') }}"></span></a> &nbsp;<a href="{{ U_FBC_COUNTRY_Z_A }}"><span class="fa fa-caret-down fa-2x" style="color:white;" title="{{ lang('ACP_FBC_COUNTRY_Z_A') }}"></span></a></th>
				<th id="allowed" class="statcolumn">{{ lang('ACP_FBC_ALLOWED') }}<br><a href="{{ U_FBC_COUNTRY_ALLOWED_ASC }}"><span class="fa fa-caret-up fa-2x" style="color:white;" title="{{ lang('ACP_FBC_COUNTRY_ALLOWED_ASC') }}"></span></a> &nbsp;<a href="{{ U_FBC_COUNTRY_ALLOWED_DESC }}"><span class="fa fa-caret-down fa-2x" style="color:white;" title="{{ lang('ACP_FBC_COUNTRY_ALLOWED_DESC') }}"></span></a></th>
				<th id="outside" class="statcolumn">{{ lang('ACP_FBC_ALLOWED_OUTSIDE') }}<br><a href="{{ U_FBC_COUNTRY_OUTSIDE_ASC }}"><span class="fa fa-caret-up fa-2x" style="color:white;" title="{{ lang('ACP_FBC_COUNTRY_OUTSIDE_ASC') }}"></span></a> &nbsp;<a href="{{ U_FBC_COUNTRY_OUTSIDE_DESC }}"><span class="fa fa-caret-down fa-2x" style="color:white;" title="{{ lang('ACP_FBC_COUNTRY_OUTSIDE_DESC') }}"></span></a></th>
				<th id="restricted" class="statcolumn">{{ lang('ACP_FBC_RESTRICTED') }}<br><a href="{{ U_FBC_COUNTRY_RESTRICTED_ASC }}"><span class="fa fa-caret-up fa-2x" style="color:white;" title="{{ lang('ACP_FBC_COUNTRY_RESTRICTED_ASC') }}"></span></a> &nbsp;<a href="{{ U_FBC_COUNTRY_RESTRICTED_DESC }}"><span class="fa fa-caret-down fa-2x" style="color:white;" title="{{ lang('ACP_FBC_COUNTRY_RESTRICTED_DESC') }}"></span></a></th>
			</tr>
		</thead>
		<tbody>
		{% for country in loops.country %}
		<tr>
			<td headers="country">
				{{ country.FLAG }}
				<span><img src="{{ country.FLAG_PATH }}" alt="{{ country.TEXT }}" title="{{ country.TEXT }}"> {{ country.TEXT }}</span></td><td headers="allowed" class="center">{{ country.ALLOWED }}</td><td headers="outside" class="center">{{ country.OUTSIDE }}</td><td headers="restricted" class="center">{{ country.NOT_ALLOWED }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
	</fieldset>
	<fieldset class="submit-buttons">
		{% if not S_SETTINGS %}<input class="button2" type="submit" id="reset_stats" name="reset_stats" value="{{ lang('ACP_FBC_RESET_STATS') }}" /> {% endif %}
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}