{% include 'overall_header.html' %}
<h1>{{ lang('ACP_FBC_TITLE') }}</h1>
<p>{{ lang('ACP_FBC_TITLE_EXPLAIN') }}</p>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{{ lang('WARNING') }}</h3>
		<p>{{ ERROR_MSG }}</p>
	</div>
{% endif %}


{% if S_SETTINGS %}
<form id="phpbbservices_filterbycountry_acp" name="phpbbservices_filterbycountry_acp" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('SETTINGS') }}</legend>
		<dl>
			<dt><label>{{ lang('ACP_FBC_ALLOW_RESTRICT') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_ALLOW_RESTRICT_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="phpbbservices_filterbycountry_allow" value="1"{% if FBC_ALLOW_RESTRICT %} checked="checked"{% endif %} /> {{ lang('ACP_FBC_ALLOW') }}</label>
				<label><input type="radio" class="radio" name="phpbbservices_filterbycountry_allow" value="0"{% if not FBC_ALLOW_RESTRICT %} checked="checked"{% endif %} /> {{ lang('ACP_FBC_RESTRICT') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_FBC_ALLOW_OUT_OF_COUNTRY_LOGINS') ~ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" class="radio" name="phpbbservices_filterbycountry_allow_out_of_country_logins" value="1"{% if FBC_ALLOW_OUT_OF_COUNTRY_LOGINS %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="phpbbservices_filterbycountry_allow_out_of_country_logins" value="0"{% if not FBC_ALLOW_OUT_OF_COUNTRY_LOGINS %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="phpbbservices_filterbycountry_country_codes">{{ lang('ACP_FBC_COUNTRIES') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_COUNTRIES_EXPLAIN') }}</dt>
			<dd>
				<select id="phpbbservices_filterbycountry_country_codes" name="phpbbservices_filterbycountry_country_codes[]" size="10" multiple>
					{{ lang('ACP_FBC_OPTIONS') }}
				</select>
				<br><br><button type="button" id="unselect_options" name="unselect_options">{{ lang('ACP_FBC_UNSELECT_ALL') }}</button>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_FBC_IP_NOT_FOUND') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_IP_NOT_FOUND_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="phpbbservices_filterbycountry_ip_not_found_allow" value="1"{% if FBC_IP_NOT_FOUND_ALLOW_RESTRICT %} checked="checked"{% endif %} /> {{ lang('ACP_FBC_ALLOW') }}</label>
				<label><input type="radio" class="radio" name="phpbbservices_filterbycountry_ip_not_found_allow" value="0"{% if not FBC_IP_NOT_FOUND_ALLOW_RESTRICT %} checked="checked"{% endif %} /> {{ lang('ACP_FBC_RESTRICT') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_FBC_LOG_ACCESS_ERRORS') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_LOG_ACCESS_ERRORS_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="phpbbservices_filterbycountry_log_access_errors" value="1"{% if FBC_LOG_ACCESS_ERRORS %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="phpbbservices_filterbycountry_log_access_errors" value="0"{% if not FBC_LOG_ACCESS_ERRORS %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_FBC_KEEP_STATISTICS') ~ lang('COLON') }}</label><br>{{ lang('ACP_FBC_KEEP_STATISTICS_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="phpbbservices_filterbycountry_keep_statistics" value="1"{% if FBC_KEEP_STATISTICS %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="phpbbservices_filterbycountry_keep_statistics" value="0"{% if not FBC_KEEP_STATISTICS %} checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
	</fieldset>
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>
{% else %}
	<table id="stats">
		<thead>
			<tr>
				<th>{{ lang('ACP_FBC_COUNTRY_NAME') }}</th><th>{{ lang('ACP_FBC_ALLOWED') }}</th><th>{{ lang('ACP_FBC_RESTRICTED') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for country in countries %}
			<tr>
				<td>{{ country.TEXT }}</td><td style="text-align: center;">{{ country.ALLOWED }}</td><td style="text-align: center;">{{ country.RESTRICTED }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}

{% include 'overall_footer.html' %}