{% if S_INCLUDE_FBC_CSS %}
{% if not definition.INCLUDED_JQUERYUI1121JCSS %}
{% DEFINE INCLUDED_JQUERYUI1121JCSS = true %}
{% INCLUDECSS '@phpbbservices_filterbycountry/jquery-ui-1.12.1.min.css' %}
<style>
	.center { text-align: center; }
	label { font-weight: bold; }
	.statcolumn {width: 100px; word-wrap: break-word; text-align: center;}
	#stats { width: auto; }
	#stats tr:nth-child(odd) { background-color: #DCEBFE !important; }
	td img { width: 25px; vertical-align: middle; }
	th { text-align: center; }
</style>
{% endif %}
{% endif %}