{% if S_INCLUDE_FBC_CSS %}
{% if not definition.INCLUDED_FBCCSS %}
{% DEFINE INCLUDED_FBCCCC = true %}
<link href="./../assets/css/font-awesome.min.css?assets_version=2236" rel="stylesheet">
{% INCLUDECSS '@phpbbservices_filterbycountry/jquery-ui-1.12.1.min.css' %}
<style>
	#stats { width: auto; }
	#stats tr:nth-child(odd) { background-color: #DCEBFE !important; }
	.statcolumn {width: 100px; word-wrap: break-word; text-align: center;}
	label { font-weight: bold; }
	th { text-align: center; }
</style>
{% endif %}
{% endif %}